.container-fluid{
background-color: rgb(17, 16, 16);
height:100px;
}

.nav-item{
    font-size:large;
    
}
.ss{
    height:150px;
    width:150px;
}
.ss2{
    height:100px;
}

.card-img{
    height:50rem;
}
