.con{
background-color: rgb(17, 16, 16);
height:100px;
}

.nav-item{
    font-size:large;
    
}
.ss{
    height:150px;
    width:150px;
}
.ss2{
    height:100px;
}

.card-img{
    height:50rem;
}
.card-t{
    font-size: xxx-large;
    text-align: center;
}

.nav-pills{
    display:flex;
    justify-content: center;
}

.card{
    border:none;
    border-radius:0;
} 
.hi{
    display:flex;
    gap:970px;
}

.card-img1{
     background-repeat: no-repeat;
}
.form{
    width:400px;
   
}

.form-c{
    border:2px solid black;
}



.log-body{
background-color:#785C4A;
}

